Repository zero5p/reflect-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ui, style, documentation, config, database, test, github

.github/labeler.yml:

# 라벨 자동 적용 규칙

# API 관련
'api':
  - 'app/api/**/*'
  - 'API.md'

# UI/컴포넌트 관련  
'ui':
  - 'components/**/*'
  - 'app/**/page.tsx'

# 스타일링 관련
'style':
  - '**/*.css'
  - 'tailwind.config.ts'

# 문서화
'documentation':
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*'

# 설정 파일
'config':
  - 'next.config.ts'
  - 'package.json'
  - 'tsconfig.json'
  - '.env*'

# 데이터베이스
'database':
  - 'lib/db.ts'
  - '**/migrate/**/*'

# 테스트
'test':
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'

# GitHub 관련
'github':
  - '.github/**/*'

fix: 통계 API 안정성 개선 및 UI 정리
  app/api/stats/route.ts
  app/page.tsx
  components/nav-bar.tsx
Labels: api, ui

fix: 통계 API 타입 에러 수정
  app/api/stats/route.ts
Labels: api

improve: 무무 애니메이션 자연스럽게 개선 및 UX 향상
  app/calendar/page.tsx
  app/daily-tasks/page.tsx
  app/goals/page.tsx
  app/page.tsx
Labels: ui

improve: 다크모드 제거 및 홈/목표 페이지 UX 대폭 개선
  .gitignore
  CLAUDE.md
  FLUTTER_MIGRATION_PLAN.md
  FLUTTER_QUICK_START.md
  PROMPT_ENHANCER_v1.0.md
  RULE.md
  app/api/ai/analyze-reflection/route.ts
  app/api/ai/reflection-questions/route.ts
  app/api/auth/google/route.ts
  app/api/auth/session/route.ts
  app/globals.css
  app/goals/page.tsx
  app/layout.tsx
  app/page.tsx
  components/goals/goal-progress-visual.tsx
  components/nav-bar.tsx
  components/theme-provider.tsx
  components/theme-toggle.tsx
  docs/PROMPT_ENHANCER.md
  docs/PROMPT_TEMPLATE.md
Labels: api, ui, style, documentation

fix: 빌드 에러 수정 - 삭제된 ThemeToggle 컴포넌트 참조 제거
  app/analysis/page.tsx
  app/calendar/page.tsx
  app/daily-tasks/page.tsx
  app/profile/page.tsx
  app/reflection/new/page.tsx
  app/reflection/page.tsx
  app/schedule/new/page.tsx
Labels: ui

fix: google-auth-library 패키지 추가
  package-lock.json
  package.json
Labels: config

fix: authOptions import 경로 수정
  app/api/ai/analyze-reflection/route.ts
  app/api/ai/reflection-questions/route.ts
Labels: api

fix: NextAuth 세션 유지 문제 해결
  app/api/auth/authOptions.ts
Labels: api

debug: 세션 문제 디버깅용 로그 추가
  app/api/auth/authOptions.ts
  app/page.tsx
  app/session-provider.tsx
  next-env.d.ts
Labels: api, ui

fix: NextAuth 설정 통합 및 401 에러 해결 시도
  app/api/ai/analyze-reflection/route.ts
  app/api/ai/reflection-questions/route.ts
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/authOptions.ts
Labels: api

fix: NextAuth 최소 설정으로 단순화
  app/api/auth/[...nextauth]/route.ts
Labels: api

fix: NextAuth authOptions export 문제 해결
  app/api/ai/analyze-reflection/route.ts
  app/api/ai/reflection-questions/route.ts
  app/api/auth/[...nextauth]/route.ts
  lib/auth-config.ts
Labels: api

fix: 환경변수 타입 에러 해결
  lib/auth-config.ts
Labels: none

fix: TypeScript 타입 에러 완전 해결
  lib/auth-config.ts
Labels: none

debug: NextAuth 세션 문제 디버깅 강화
  lib/auth-config.ts
Labels: none

fix: NextAuth 쿠키 설정 문제 해결
  lib/auth-config.ts
Labels: none

fix: NextAuth 쿠키 중복 문제 해결
  lib/auth-config.ts
Labels: none

revert: 원래 작동하던 NextAuth 설정으로 복구
  lib/auth-config.ts
Labels: none

fix: 원래 authOptions.ts 파일로 완전 복구
  app/api/ai/analyze-reflection/route.ts
  app/api/ai/reflection-questions/route.ts
  app/api/auth/[...nextauth]/route.ts
  lib/auth-config.ts
Labels: api

fix: NextAuth 충돌 파일 제거
  app/api/auth/session/route.ts
Labels: api

improve: 무무노트 브랜딩 맞춤 UI/UX 대폭 개선
  app/goals/page.tsx
  components/goals/goal-progress-visual.tsx
Labels: ui

fix: 동적 클래스명 에러 해결
  components/goals/goal-progress-visual.tsx
Labels: ui
